<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="wheel_2_link_macro">

  <xacro:macro name="wheel_2_link" params="prefix">

    <!-- Links -->
    <link name="${prefix}wheel_2_link_Omni_Wheel">
      <inertial>
        <origin xyz="0.000013 -0.000005 0.019966" rpy="0 0 0"/>
        <mass value="1.797779"/>
        <inertia ixx="1.321942e-03" ixy="3.160562e-08" ixz="-1.330413e-06"
                 iyy="1.321755e-03" iyz="5.539069e-07" izz="2.173771e-03"/>
      </inertial>
      <visual>
        <origin xyz="0.129426 -0.595834 0.367959" rpy="3.119159 -1.068867 1.618682"/>
        <geometry>
          <mesh filename="package://kiwi_drive_description/meshes/wheel_2_link/wheel_2_link_Omni_Wheel.dae" scale="1 1 1"/>
        </geometry>
        <material name="Steel"/>
      </visual>
      <collision>
        <origin xyz="0.129426 -0.595834 0.367959" rpy="3.119159 -1.068867 1.618682"/>
        <geometry>
          <mesh filename="package://kiwi_drive_description/meshes/wheel_2_link/wheel_2_link_Omni_Wheel_collision.stl" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>
    </link>

  </xacro:macro>

</robot>